@media (max-width: 639px) {
	[media-type="mobile"].table-cell {
		display: none;
	}
}

@media (min-width: 640px) and (max-width: 1023px) {
	[media-type="tablet"].table-cell {
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	[media-type="desktop"].table-cell {
		display: none;
	}
}

@media (min-width: 1440px) {
	[media-type="hd"].table-cell {
		display: none;
	}
}